MUSIC_LIBRARY_PATH=/home/YOUR_USER/MusicVault/Library
MUSIC_INCOMING_PATH=/home/YOUR_USER/MusicVault/Incoming
MUSIC_EXPORT_PATH=/home/YOUR_USER/MusicVault/Exports/iPod
IPOD_MOUNT_PATH=/media/YOUR_USER/IPOD
